### World Electricity Project Workfile

#### Importing the libraries

In [3]:
import pandas as pd

#### Reading the Json datafile and converting it into csv

In [3]:
data=pd.read_json('Access TE - Rural .json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('AccessTE-Rural.csv', index=False)

In [5]:
data=pd.read_json('Access TE - Total.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('Access TE - Total.csv', index=False)

In [6]:
data=pd.read_json('Access TE - Urban.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('Access TE - Urban.csv', index=False)

In [7]:
data=pd.read_json('Nuclear sources production.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('Nuclear sources production.csv', index=False)

In [8]:
data=pd.read_json('Oil sources production.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('Oil sources production.csv', index=False)

In [9]:
data=pd.read_json('Renewable sources production .json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('Renewable sources production .csv', index=False)

In [10]:
data=pd.read_json('Power transmission losses.json')
data2=data.drop(0)
data2.columns=data2.iloc[0]
data2=data2.drop(1)
data2.reset_index().drop(["index"], axis=1)
data2.to_csv('Power transmission losses.csv', index=False)

#### Assigning the variable to the csv files

In [4]:
rural = pd.read_csv("AccessTE-Rural.csv")
urban = pd.read_csv("Access TE - Urban.csv")
total = pd.read_csv("Access TE - Total.csv")
nuclear = pd.read_csv("Nuclear sources production.csv")
oil = pd.read_csv("Oil sources production.csv")
renewable = pd.read_csv("Renewable sources production .csv")
losses = pd.read_csv("Power transmission losses.csv")

#### Reading the head of the variables

In [5]:
rural.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,Unnamed: 66
0,Aruba,ABW,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,NaN,NaN
1,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.663502,17.633986,16.464681,24.531436,25.345111,27.449908,29.64176,30.404935,NaN,NaN
2,Afghanistan,AFG,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.566135,86.500511,64.573357,97.099358,97.091972,95.586174,97.07563,97.066711,NaN,NaN
3,Africa Western and Central,AFW,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,23.294078,22.549825,22.780592,27.380220,NaN,NaN,NaN,25.466795,NaN,NaN
4,Angola,AGO,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.815067,NaN,NaN,7.333445,NaN,NaN,NaN,NaN

In [13]:
urban.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,Unnamed: 66
0,Aruba,ABW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
1,Africa Eastern and Southern,AFE,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,67.112206,66.283426,67.080235,69.132292,70.928567,71.866136,73.332842,73.942949,NaN,NaN
2,Afghanistan,AFG,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,92.259048,98.699997,92.500000,99.500000,99.500000,99.626022,99.500000,99.500000,NaN,NaN
3,Africa Western and Central,AFW,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,78.848614,79.529235,78.247876,81.571517,NaN,NaN,NaN,83.220065,NaN,NaN
4,Angola,AGO,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.662224,51.000000,64.000000,67.973396,69.411171,65.269997,72.277184,73.708916,NaN,NaN

In [14]:
total.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013,2014,2015,2016,2017,2018,2019,2020,2021.0,Unnamed: 66
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485,NaN,NaN
2,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,68.290649,89.500000,71.500000,97.699997,97.699997,96.616135,97.699997,97.699997,NaN,NaN
3,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,47.048316,47.599323,46.766294,50.953487,48.861191,51.259712,51.290193,52.111601,NaN,NaN
4,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.278030,32.000000,42.000000,41.813129,43.013260,45.290001,45.642799,46.890610,NaN,NaN

In [15]:
nuclear.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,Unnamed: 66
0,Aruba,ABW,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.732574,3.580038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Electricity production from nuclear sources (%...,EG.ELC.NUCL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
oil.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,Unnamed: 66
0,Aruba,ABW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.122915,3.193329,3.330766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.893668,7.425639,7.820248,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,41.979065,46.824895,46.825072,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
renewable.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,Unnamed: 66
0,Aruba,ABW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,3.669000e+09,7.687000e+09,1.092600e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,2.220000e+08,2.330000e+08,2.800000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
losses.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,Unnamed: 66
0,Aruba,ABW,Electric power transmission and distribution l...,EG.ELC.LOSS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Electric power transmission and distribution l...,EG.ELC.LOSS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,10.393182,10.594766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Electric power transmission and distribution l...,EG.ELC.LOSS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,Electric power transmission and distribution l...,EG.ELC.LOSS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.200660,17.903147,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Electric power transmission and distribution l...,EG.ELC.LOSS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.270691,11.265823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Droping the null values where complete column is null

In [7]:
rural = rural.dropna(axis = "columns", how = 'all')
urban = urban.dropna(axis = "columns", how = 'all')
total = total.dropna(axis = "columns", how = 'all')
nuclear = nuclear.dropna(axis = "columns", how = 'all')
oil= oil.dropna(axis = "columns", how = 'all')
renewable = renewable.dropna(axis = "columns", how = 'all')
losses = losses.dropna(axis = "columns", how = 'all')

In [8]:
total

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.0,99.153656,99.197128,99.239914,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,29.089827,31.844384,31.794160,32.001027,33.871910,38.880173,40.261358,43.061877,44.270860,45.803485
2,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,43.222019,69.099998,68.290649,89.500000,71.500000,97.699997,97.699997,96.616135,97.699997,97.699997
3,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,31.693097,32.714738,33.703684,...,45.911474,44.167973,47.048316,47.599323,46.766294,50.953487,48.861191,51.259712,51.290193,52.111601
4,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,34.599998,37.131321,38.278030,32.000000,42.000000,41.813129,43.013260,45.290001,45.642799,46.890610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,100.0,100.000000,100.000000,100.000000,100.000000,100.000000,...,NaN,99.750000,99.750000,99.680000,99.860001,99.800003,99.800003,NaN,100.000000,NaN
262,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,44.100000,40.774715,41.985134,43.193512,...,61.864506,52.410000,75.599998,66.099998,67.310928,68.859505,79.199997,62.000000,72.751076,73.757927
263,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,83.599998,85.300003,85.199997,85.900002,85.300003,83.900002,84.400002,84.699997,85.000000,84.385536
264,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,13.9,12.752703,19.200000,14.213207,14.941759,15.668272,...,28.159010,29.012726,29.886272,27.900000,31.100000,35.425453,40.299999,40.317890,43.000000,44.524475
265,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,28.200000,31.163668,28.100000,31.948580,...,36.900002,44.000000,40.498375,32.299999,33.700001,42.561729,44.178635,45.572647,46.781475,52.747669

#### Saving the dataframe into different csv files

In [22]:

rural.to_csv('rural.csv',index= False)
urban.to_csv('urban.csv',index= False)
total.to_csv('total.csv',index= False )
nuclear.to_csv('nuclear.csv',index= False)
oil.to_csv('oil.csv',index= False)
renewable.to_csv('renewable.csv',index= False)
losses.to_csv('losses.csv',index= False)